.FlightDetails {
    margin: 20px 50px;
    font-size: 30px;
    line-height: 40px;

    .FlightDetails-title {
        text-align: center;
        font-size: 50px;
        margin: 50px;
    }

    .FlightDetails-content {
        border: 1px solid #444;
    }

    .FlightDetails-OD {
        display: inline-block;
        width: 75%;
        background-color: #9fd7ff;

        span {
            padding: 0 20px;

            svg {
                padding: 0 10px;
            }
        }
    }

    .FlightDetails-price {
        display: inline-block;
        width: 25%;
        background-color: #9fd7ff;
        text-align: right;
    }

    .FlightDetails-dates {
        padding: 20px;
    }

    .FlightDetails-book {
        background-color: #43b1ff;
        text-align: center;
        cursor: pointer;
        padding: 5px 0;
        transition: all ease-in-out 0.3s;

        &:hover {
            background-color: #267ebd;
        }
    }
}