.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    opacity: 0.5;

    .Header-image {
        display: inline-block;

        img {
            height: 30px;
            padding: 12px 12px 8px;
        }
    }

    .Header-menu {
        display: inline-block;
    }

    .Header-menu-item {
        padding: 16px;
        text-decoration: none;
        font-size: 23px;
        color:#056eb9;

        &:hover {
            color: #2196f3
        }
    }
}